body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header{
  background-image: url("../images/Lol-Champions.jpg");
  background-size: 23%;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color:black;
  z-index: 9;
}

.icon img {
  width: 50px;
  cursor: pointer;
}

.drop-filter,
.drop-order {
  border-radius: 50px;
  width: 150px;
  padding-left: 5px;
  color: rgb(245, 241, 241);
  background-color:black;
}

.content {
  margin-top: 100px;
}

.card-search {
  margin: 20px 10px;
  font-size: 16px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 25%;
  height: 100%;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  margin-right: 10px;
  min-height: 350px;
  transform-style: preserve-3d;
  transition: all 600ms ease-in;
}

.card:hover {
  transform: rotateY(180deg);
}

.card:nth-child(1n) {
  width: calc(25% - 20px);
  margin-left: 10px;
}

.card-front,
.card-back {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #f5f5f5;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.card-subtitle {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.card-img {
  display: block;
  width: 100%;
  min-height: 200px;
}

.card-title {
  text-align: center;
  font-size: 16px;
  margin: 0 0 5px 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  list-style: none;
  text-align: center;
}

.card-item {
  font-size: 13px;
  width: 50%;
}

.card-tags {
  margin: 10px;
  font-size: 13px;
  text-align: center;
}


